

<!-- Navigation -->
<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="#"><h3>Expedia</h3></a>
  </div>
</nav>

<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Find your favorite hotel and reserve for your trip now!</h1>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm.value)">
          <div class="row">
            <div class="col-12 col-md-12 mb-2 mb-md-0">
              <input 
                #destinationName="ngModel"
                ngModel
                type="text"
                class="form-control form-control-lg"
                name="destinationName"
                placeholder="Search">
            </div>
          </div>
          <div class="row">
            <div class="col-4 col-md-5">
              <label class="form-control-label">Check-in</label>
              <input #minTripStartDate="ngModel" ngModel class="form-control" type="date" name="minTripStartDate">
            </div>
            <div class="col-4 col-md-5">
              <label class="form-control-label">Check-out</label>
              <input #maxTripStartDate="ngModel" ngModel class="form-control" type="date" name="maxTripStartDate">
            </div>
            <div class="col-2 col-md-2">
              <label class="form-control-label">Duration</label>
              <input #lengthOfStay="ngModel" ngModel class="form-control" type="number" name="lengthOfStay">
            </div>
          </div>
          <div class="row">
            <div class="col-2 col-md-6">
              <label class="form-control-label">Min Star Rating</label>
              <input #minStarRating="ngModel" ngModel class="form-control" type="number" min="0" max="5" name="minStarRating"> 
            </div>
            <div class="col-2 col-md-6">
              <label class="form-control-label">Max Star Rating</label>
              <input #maxStarRating="ngModel" ngModel class="form-control" type="number" min="0" max="5" name="maxStarRating"> 
            </div>
          </div>
          <div class="row">
            <div class="col-2 col-md-6">
              <label class="form-control-label">Min Guest Rating</label>
              <input #minGuestRating="ngModel" ngModel class="form-control" type="number" name="minGuestRating"> 
            </div>
            <div class="col-2 col-md-6">
              <label class="form-control-label">Max Guest Rating</label>
              <input #maxGuestRating="ngModel" ngModel class="form-control" type="number" name="maxGuestRating"> 
            </div>
          </div>
          <div class="row">
            <div class="col-2 col-md-6">
              <label class="form-control-label">Min Total Rate</label>
              <input #minTotalRate="ngModel" ngModel class="form-control" type="range" title="{{minTotalRate.value}}" name="minTotalRate"> 
            </div>
            <div class="col-2 col-md-6">
              <label class="form-control-label">Max Total Rate</label>
              <input #maxTotalRate="ngModel" ngModel class="form-control" type="range" title="{{maxTotalRate.value}}" name="maxTotalRate"> 
            </div>
           </div>
          <div class="row">
            <button type="submit" class="btn btn-block btn-lg btn-primary">Search</button>
            <a (click)="resetSearch()">Reset search</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
<section class="features-icons bg-light text-center">
  <div class="container">
    <hotel-tile [hotels]="hotelsInfo"></hotel-tile>
  </div>
</section>
